@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #003a6d;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 53%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 58%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 89%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    left: 55%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 87%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 0%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 21s;
}
.background li:nth-child(6) {
    left: 51%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 10s;
}
.background li:nth-child(7) {
    left: 50%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 21s;
}
.background li:nth-child(8) {
    left: 45%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 33s;
}
.background li:nth-child(9) {
    left: 47%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 27s;
}